<div>
  <Button {{on 'click' this.turnOnCamera}}>Turn on the camera</Button>
  <Button {{on 'click' this.takeSnapshot}}>Take photo</Button>
  <ButtonLink @routeName={{'story'}}>Next page</ButtonLink>
</div>
<video id="video" width="400" height="250" playsinline autoplay hidden={{if this.showVideo false true}} />
<canvas id="canvas" width="400" height="250"  hidden={{if this.showVideo true false}} />