<button type='button' {{on 'click' this.play}}>Play</button>
<button type='button' {{on 'click' this.pause}}>Pause</button>
{{!-- <button type='button' {{on 'click' this.play}}>Pause</button> --}}
<div id='story'>
  <p class='pt-8'>
    Once upon a time, there was a dog named Murphy. He loved to go everywhere
    with his best friend,
    {{this.formData.name}}. Everywhere they went together, the world was full of
    sights and sounds!
  </p>

  <p class='pt-8'>
    On the morning walk was the
    {{this.formData.soundA}}
    of the
    {{this.formData.vehicle}}.
  </p>

  <p class='pt-8'>
    On TV after school, Murphy heard a song about
    {{this.formData.animal}}s.
  </p>

  <p class='pt-8'>
    At home, whenever Murphy heard a
    {{this.formData.soundB}}, he ran right up to the window and barked! Murphy
    liked to make his own noises too.
  </p>

  <p class='pt-8'>
    Murphy especially loved new sounds.
  </p>

  <p class='pt-8'>
    At the park was a musician with funny instruments that went
    {{this.formData.nonsenseA}}
    and
    {{this.formData.nonsenseB}}.
  </p>

  <p class='pt-8'>
    At the festival, a performer did an amazing trick! They announced to the
    crowd that they would now
    {{this.formData.verb}}
    a
    {{this.formData.noun}}. The crowd oohed and ahhed.
  </p>

  <p class='pt-8'>
    Murphy was full of zoomies! He ran around while wagging his tail, careful
    not to pull the leash held by his friend
    {{this.formData.name}}.
  </p>

  <p class='pt-8'>
    As much as Murphy loves new noises, there's one thing he wants to hear the
    most... "I love you."
  </p>

</div>

{{#if this.camera.context}}
  <div class='selfie-with-murphy'>
    <canvas
      id='story-canvas'
      width='400'
      height='250'
      {{did-insert this.renderCanvas}}
      role='img'
      aria-label='Your selfie image together with an illustration of a happy springer spaniel dog. The dog has soft wavy, long fur on his droopy ears.'
    ></canvas>
  </div>
{{/if}}