{{yield}}

<p>
Once upon a time, there was a dog named Murphy.
He loved to go everywhere with his best friend,
{{this.formData.name}}. Everywhere they went together, the world
was full of sights and sounds!
</p>

<p>
On the morning walk was the [SOUND] of the
{{this.formData.vehicle}}.
</p>

<p>
On TV after school, Murphy heard a song
about {{this.formData.animal}}.
</p>

<p>
At home, whenever Murphy heard {{this.formData.soundA}}, he
ran right up to the window and barked!
Murphy liked to make his own noises too.
</p>

<p>
  Murphy especially loved new sounds.
</p>

<p>
At the park was a musician with funny
instruments that went [ONOMATOPOEIA]
and [ONOMATOPOEIA].
</p>

<p>
At the festival, a performer did an amazing trick!
They announced to the crowd that they would now
[ACTION VERB] a [NOUN]. The crowed [ONOMATOPOEIA]ed
and [ONOMATOPOEIA]ed.
</p>

<p>
Murphy was full of zoomies!
He ran around while wagging his tail,
careful not to pull the leash held by his friend [NAME].
</p>

<p>
As much as Murphy loves new noises, there's one
thing he wants to hear the most... "I love you."
</p>
